.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  flex: 1;
}

.columns > div > .columns-img-col {
  order: 0;
  flex: 1.5;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    background-color: #ebebeb;
    gap: 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1em;
    width: 100%;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
