.social-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .social-links p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .social-icons {
    display: flex;
  }

  .social-icons > a > span{
    background-color: var(--background-color);
    padding: 3px
  }
  
  .social-icons .icon img { 
    width: 24px;
    height: 24px;
  }
  